# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# Backend URL (Nuxt server-side proxy ke NestJS)
BACKEND_URL=http://localhost:3001/api

# CORS - daftar origin yang diizinkan, pisahkan dengan koma
# Contoh production: https://app.kokarsi.com
NUXT_ALLOWED_ORIGINS=http://localhost:3000

# Node environment
NODE_ENV=development
